@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* container css starts here */
.container{
  margin-top: 20px;
  margin-left: 450px;
  width: 650px;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 10px 10px 10px rgba(14, 88, 153, 0.5);
  background-color: rgb(240, 245, 246);
}

.todo-input{
  display: flex;
  height: 50px;
  position: relative;
}

.todo-input i{
  top: 50%;
  position: absolute;
  transform: translate(17px, -50%);
  color: #6472a9;
}

.todo-input input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 22px;
  border-radius: 25px;
  padding: 0 20px 0px 53px;
  border: 2px solid rgb(124, 208, 206);
}

.todo-input input:focus,
.todo-input input.active{
  border: 3px solid #010908;
}

.todo-input input::placeholder{
  color: #6472a9;
}

.add-btn{
  opacity: 0.6;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
  padding: 5px 15px;
  border-radius: 20px;
  letter-spacing: 1px;
  background-color:rgb(163, 4, 44);
}

.add-btn:hover{
  color: black;
  background-color: rgb(199, 227, 222);
}
/* container css ends here */

.toggle-container{
  margin: 30px 440px;
  border-radius: 20px;
  opacity: 0.7;
  background-color: rgb(240, 245, 246);
}

.toggle-controls, li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-controls{
  padding: 15px 25px;
  border-bottom: 2px solid rgb(3, 3, 47);
  overflow-wrap: break-word;
}

.task-status span{
  margin: 0 30px;
  font-size: 17px;
  color: #444444;
  cursor: pointer;
}
.task-status span:first-child{
  margin-left: 0;
}
.task-status span.active{
  color: #3C87FF;
}
.toggle-controls .clear-all-btn{
  border: none;
  opacity: 0.6;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  pointer-events: none;
  transition: transform 0.25s ease;
  background: linear-gradient(135deg, #1798fb 0%, #2D5CFE 100%);
}
.clear-all-btn.active{
  opacity: 0.9;
  pointer-events: auto;
}
.clear-all-btn:active{
  transform: scale(0.93);
}
.tasks-container{
  margin-top: 20px;
  margin-right: 5px;
  padding: 0 20px 10px 25px;
}
.tasks-container.overflow{
  overflow-y: auto;
  max-height: 300px;
}
.tasks-container::-webkit-scrollbar{
  width: 5px;
}
.tasks-container::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.tasks-container::-webkit-scrollbar-thumb{
  background: #e6e6e6;
  border-radius: 25px;
}
.tasks-container .task-list{
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}
.tasks-container .task-list:last-child{
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
.tasks-container .task-list label{
  display: flex;
  align-items: flex-start;
}
.task-list label input{
  margin-top: 7px;
  accent-color: #3C87FF;
}
.task-list label p{
  user-select: none;
  margin-left: 12px;
  word-wrap: break-word;
}
.task-list label p.checked{
  text-decoration: line-through;
}
.tasks-container .settings{
  position: relative;
}
.settings :where(i, li){
  cursor: pointer;
}
.settings .task-menu{
  z-index: 10;
  right: -5px;
  bottom: -65px;
  padding: 5px 0;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: top right;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
}
.tasks-container .task-list:last-child .task-menu{
  bottom: 0;
  transform-origin: bottom right;
}
.tasks-container .task-list:first-child .task-menu{
  bottom: -65px;
  transform-origin: top right;
}
.task-menu.show{
  transform: scale(1);
}
.task-menu li{
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  justify-content: flex-start;
}
.task-menu li:last-child{
  margin-bottom: 0;
}
.settings li:hover{
  background: #f5f5f5;
}
.settings li i{
  padding-right: 8px;
}

@media (max-width: 400px) {
  body{
    padding: 0 10px;
  }
  .container {
    padding: 20px 0;
  }
  .task-status span{
    margin: 0 5px;
  }
  .todo-input{
    padding: 0 20px;
  }
  .toggle-controls{
    padding: 18px 20px;
  }
  .tasks-container{
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 15px 10px 20px;
  }
  .task-list label input{
    margin-top: 4px;
  }
}